.navbar-logo {
  width: 100px !important;
}
@media screen and (min-width: 768px) {
  .navbar-logo {
    width: 150px !important;
  }
}
i {
  font-size: 20px;
}
/* @media screen and (min-width: 992px) {
  i {
    font-size: 32px;
  }
} */
.nav-link {
  color: black !important;
}
.active {
  color: gray !important;
  border-bottom: 2px solid black !important ;
}
.popup-content {
  width: 100% !important;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  .popup-content {
    width: 50% !important;
  }
}
i:hover {
  font-size: 22px;
}
